include eclectusqt/data/*.png
include eclectusqt/data/*.svg
include eclectusqt/data/icons/*.png
include eclectusqt/data/icons/*.svg
include eclectusqt/data/icons/*.xpm
include eclectusqt/data/style.css
include eclectusqt/locale/*/*/eclectusqt.mo
include eclectusqt/forms/*.py
include eclectusqt/ui/*.ui
include eclectusqt/ui/*.patch
include eclectusqt/eclectusui.rc
include eclectusqt/eclectus.desktop
include eclectusqt/*.py
include eclectusqt/*.sh
include libeclectus/data/*.csv
include libeclectus/data/*.sql
include libeclectus/locale/*/*/libeclectus.mo
include libeclectus/files/COPYING*
include libeclectus/files/Makefile
include libeclectus/files/bw.png/Makefile
include libeclectus/files/bw.png/README
include libeclectus/files/bw.png.segment/Makefile
include libeclectus/files/bw.png.segment/README
include libeclectus/files/bw.png.segment/*.segmentations
include libeclectus/files/red.png/Makefile
include libeclectus/files/red.png/README
include libeclectus/files/order.gif/Makefile
include libeclectus/files/order.gif/README
include libeclectus/files/cmn-caen-tan/Makefile
include libeclectus/files/cmn-caen-tan/COPYING.cmn-caen-tan
include libeclectus/files/chi-balm-hsk1/Makefile
include libeclectus/files/chi-balm-hsk1/COPYING.chi-balm-hsk1
include libeclectus/scripts/*.py
include libeclectus/scripts/*.sh
include libeclectus/*.py
include tomoeqt/*.py
include *.py
include eclectus
include README
include COPYING
include DEVELOPMENT
include changelog
