include eclectusqt/data/*.png
include eclectusqt/data/*.svg
include eclectusqt/data/icons/*.png
include eclectusqt/data/icons/*.svg
include eclectusqt/data/icons/*.xpm
include eclectusqt/data/style.css
include eclectusqt/locale/*/*/eclectusqt.mo
include eclectusqt/forms/*.py
include eclectusqt/ui/*.ui
include eclectusqt/ui/*.patch
include eclectusqt/eclectusui.rc
include eclectusqt/eclectus.desktop
include eclectusqt/*.py
include eclectusqt/*.sh
include libeclectus/data/*.segmentations
include libeclectus/data/*.csv
include libeclectus/data/*.sql
include libeclectus/locale/*/*/libeclectus.mo
include libeclectus/files/COPYING*
include libeclectus/files/README*
include libeclectus/files/Makefile
include libeclectus/scripts/*.py
include libeclectus/scripts/*.sh
include libeclectus/*.py
include tomoeqt/*.py
include *.py
include eclectus
include README
include COPYING
include DEVELOPMENT
include changelog
